{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!--Site Logo-->
<section>
    <div class="col-md-12 logo-temp">
        <a href="{{ site.BaseURL | relLangURL }}">
            <img loading="lazy" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}">
        </a>
    </div>

</section>
<section>
    <div class="col-md-12 sec">
        <h1 class="clientListHeading">Our Clients</h1>
    </div>
</section>
<!--Clients' List-->
<section>
    <div class="col-md-12">
        <div class="container sec gov">
            <h2 class="secTitle"><span>Government Organizations</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/gov.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/mongla-port.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/bima.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/shilpokola.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/forest.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/khulna.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/customs.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec ngo">
            <h2 class="secTitle"><span>Non-Government Organizations</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/giz.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/water-aid.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/tib.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/beds.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/rupantor.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/dam.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/usaid.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/tts.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/aosed.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/css.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/wildteam.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/pac.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec edu">
            <h2 class="secTitle"><span>Education Sector</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/just.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/ku.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/archi-disc.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kmc.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/pharmacy-ku.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/northern-u.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/aroteertha.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/sculpture.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kuet.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/bsmrust.jpg" alt="">
                <!-- <img loading="lazy" src="/images/clients/logos/visva-bharati.jpg" alt=""> -->
                <img loading="lazy" src="/images/clients/logos/kccpschool.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec finance">
            <h2 class="secTitle"><span>Financial Sector</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/abbank.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/ific.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/aibl.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/national-life.jpg" alt="">

            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec defense">
            <h2 class="secTitle"><span>Defense and Law Enforcement Forces</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/bd-army.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/coast-gurd.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/navy.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kmp.jpg" alt="">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="col-md-12">
        <div class="container sec admin">
            <h2 class="secTitle"><span>Public Administration and Regulating Authorities</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/bccb.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kda.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kpc.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kcc.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/jashor.jpg" alt="">

            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec social">
            <h2 class="secTitle"><span>Social Organizations</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/gulshan-banani-puja.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/bma.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/rotary-int.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec embassy">
            <h2 class="secTitle"><span>Embassy</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/indian-high-comission.jpg" alt="">

            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec biz">
            <h2 class="secTitle"><span>Business Sector</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/tiger-garden.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/bitpa.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/computer-somiti.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/gp.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/beximco.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/g4s.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/salt.jpg" alt="">

            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div class="container sec cultural">
            <h2 class="secTitle"><span>Curtural Sector</span></h2>
            <div class="col-md-12 logos">
                <img loading="lazy" src="/images/clients/logos/udichi.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/khelaghor.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/monobhumi.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/protinidhi.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/pcm.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/bot-tola.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/amitrakshar.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/rhythm.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/kups.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/krishti.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/onkar-shrinuta.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/bhairabi.jpg" alt="">
                <img loading="lazy" src="/images/clients/logos/porpara.jpg" alt="">

            </div>
        </div>
    </div>
</section>

<!-- <a class="bacToTop" href="#">
    <ion-icon name="caret-up-outline"></ion-icon>
</a> -->
{{ end }}