.sec{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, .09);
    &.cultural{
        border-bottom: none;
    }
    .secTitle{
        display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
        span{
        text-align: center;
        position: relative;
        &::after{
            position: absolute;
        content: '';
        height: 3px;
		  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
        //bottom: -4px; 


       /****** 
       optional values below 
       ******/
        
        /* center - (optional) use with adjusting width   */
        margin: 35px auto;
		  left: 0;
        right: 0;
		  width: 80%;
		  background: goldenrod;
        }

        }
    }
}


.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img{
    max-width: 100%;
    height: 100px;
    width: auto;
    //padding: 10px;
    object-fit: contain;
    object-position: center;
    background: #f3f3f3;
    border-radius: 4px;
    box-shadow: 1px 2px 4px #ddd8d8;
    margin: 10px;
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
    }
}

//temp

.navigation, .footer-manu{
    display: none;
}

.logo-temp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    background-color: rgba(gray, .1);
    border-bottom: 4px solid rgba(gray, .6);
    img{
        height: 150px;
        width: auto;
    }
}

h1.clientListHeading{
    text-align: center;
    width: 100%;
}

.bacToTop{
    border-radius: 50%;
    padding: 10px;
    background: rgba(goldenrod, .7);
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    &:hover{
      background: goldenrod;
      color: white;
    }
  }
// devices
  @media screen and (max-width: 640px){
      .logo-temp{
          img{
              width: 250px;
              height: auto;
          }
      }
  }